<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Qihu Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <php>
    	<const name="APP_KEY" value="12345678901234567890123456789012" />
    	<const name="APP_SECRET" value="12345678901234567890123456789012" />
    </php>
</phpunit>
